# Ignore files for distribution archives.

/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.github         export-ignore
/.gitignore      export-ignore
/logo.png        export-ignore
/renovate.json   export-ignore
